body
{
	overflow-x: hidden;
}
.content
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #027aaa;
	position: relative;
	transition: 1s linear;
}
.gradient1
{
	width: 100%;
	height: 23%;
	position: absolute;
	bottom: 0;
	background: linear-gradient(transparent, rgba(0, 170, 239, .7));
	z-index: 2;
	transition: 1s linear;
	opacity: 1;
}

.gradient2
{
	width: 100%;
	height: 24%;
	position: absolute;
	top: 0;
	background: linear-gradient(rgba(0, 71, 101, .6), transparent);
	z-index: 2;
	transition: 1s linear;
}
.gradient3 
{
	background: linear-gradient(transparent,rgba(19, 39, 49, 0.6)) !important;	
}
.estrelas
{
	position: absolute;
	top: 0%;
}
.aviao1
{
	position: absolute;
	bottom: 21%;
	max-width: 8%;
	-webkit-animation: animateAviao1 10s linear infinite;
	-moz-animation: animateAviao1 10s linear infinite;
	animation: animateAviao1 10s linear infinite;
	transition: 1.5s ease-out;
}

.aviao2
{
	position: absolute;
	bottom: 42%;
	right: 0%;
	max-width: 5%;
	-webkit-animation: animateAviao2 10s linear infinite;
	-moz-animation: animateAviao2 10s linear infinite;
	animation: animateAviao2 10s linear infinite;
	transition: 1.5s ease-out;
}
.balao
{
	position: absolute;
	bottom: 0%;
	right: 25%;
	max-width: 6%;
	-webkit-animation: animateBalao  25s linear infinite;
	-moz-animation: animateBalao  25s linear infinite;
	animation:  animateBalao 25s linear infinite;
	z-index: 1;
}


/* KEYFRAMES */

@-webkit-keyframes animateAviao1 {
	0% {
		left: -1000px;
	}
	100% {
		left: 100%;
	}
}

@-moz-keyframes animateAviao1 {
	0% {
		left: -1000px;
	}
	100% {
		left:100%;
	}
}

@keyframes animateAviao1 {
	0% {
		left: -1000px;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes animateAviao2 {
	0% {
		right: -1000px;
	}
	100% {
		right: 100%;
	}
}

@-moz-keyframes animateAviao2 {
	0% {
		right: -1000px;
	}
	100% {
		right:100%;
	}
}

@keyframes animateAviao2 {
	0% {
		right: -1000px;
	}
	100% {
		right: 100%;
	}
}


@-webkit-keyframes animateBalao {
	0% {
		bottom: -1000px;
	}
	50%
	{
		bottom: 50%;
		right: 30%;
	}
	60%
	{
		bottom:50%;
	}
	70%
	{
		right: 50%;
	}
	80%
	{
		bottom:50%;
	}
	100%
	{
		bottom:-100%;
	}
}

@-moz-keyframes animateBalao {
	0% {
		bottom: -1000px;
	}
	50%
	{
		bottom: 50%;
		right: 30%;
	}
	60%
	{
		bottom:50%;
	}
	70%
	{
		right: 50%;
	}
	80%
	{
		bottom:50%;
	}
	100%
	{
		bottom:100%;
	}
}

@keyframes animateBalao {
	0% {
		bottom: -1000px;
	}
	50%
	{
		bottom: 50%;
		right: 30%;
	}
	60%
	{
		bottom:50%;
	}
	70%
	{
		right: 50%;
	}
	80%
	{
		bottom:50%;
	}
	100%
	{
		bottom:100%;
	}
}


@-webkit-keyframes animateCloud {
	0% {
		transform: translateX(-1000px);
	}
	margin-100% {
		transform: translateX(100%);
	}
}

@-moz-keyframes animateCloud {
	0% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(100%);
100

@keyframes animateCloud {
	0% {
		transform: translateX(-1000px);
	}
	100% {
		transform: translateX(100%);
	}
}

/* ANIMATIONS */

#x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
}

#x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
}

#x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
}

#x4 {
	-webkit-animation: animateCloud 50s linear infinite;
	-moz-animation: animateCloud 50s linear infinite;
	animation: animateCloud 50s linear infinite;
}

#x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;

}
/* OBJECTS */

